@model System.Collections.Generic.List<TeacherAppreciation.Models.TeacherAppreciationForm>

@{
    ViewBag.Title = "Entries";
}

<div class="table-header">
    <h4>Total: @Model.Count</h4>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" id="exportToExcel">
        Export To Excel
    </button>
</div>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp entries">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Date Submitted</th>
            <th class="mdl-data-table__cell--non-numeric"`>Teachers Full Name</th>
            <th class="mdl-data-table__cell--non-numeric">Current Teaching Position</th>
            <th class="mdl-data-table__cell--non-numeric">School</th>
            <th class="mdl-data-table__cell--non-numeric">District</th>
            <th class="mdl-data-table__cell--non-numeric">Current Member</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr id="@entry.SubmissionId">
                <td class="mdl-data-table__cell--non-numeric">@entry.DateSubmitted</td>
                <td class="mdl-data-table__cell--non-numeric">@entry.TeachersFullName</td>
                <td class="mdl-data-table__cell--non-numeric">@entry.CurrentTeachingPosition</td>
                <td class="mdl-data-table__cell--non-numeric">@entry.School</td>
                <td class="mdl-data-table__cell--non-numeric">@entry.District</td>
                <td class="mdl-data-table__cell--non-numeric">@entry.CurrentMember</td>
            </tr>
        }
    </tbody>
</table>